<div class="cl">
{% extends 'main/base.html' %}

{% block title %}
All Articles
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <article>
        <header class="mb-4">
            <h1 class="fw-bolder text-center ">All Article!</h1><hr>
        </header>
            <section class="mb-5">
                {% for article in articles %}
                <div class="my-3 p-3 bg-body rounded shadow-sm alert alert-into">
                  <div class="d-flex text-body-secondary pt-3">
                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                      <div class="d-flex justify-content-between">
                          <h3><a href="/article/{{ article.id }}">{{article.title }}</a></h3>
                          <div class="text-down me-3 pt-3">
                            <a class="badge rounded-pill bg-primary me-3 btn btn-outline-info" href="/article/{{ article.id }}/edit">Edit</a>
                            <a class="badge rounded-pill bg-primary me-3 btn btn-outline-info" href="/article/{{ article.id }}/delete">Delete</a>
                        </div>
                      </div>
                      <h5><span class="d-block">{{article.body }}</span></h5>
                    </div>
                  </div>
                </div>
                  {% endfor %}
            </section>
        </article>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-header">Search</div>
            <div class="card-body">
              <div class="d-flex" action="/search"  method="GET" role="search">
                <form class="d-flex" action="/search"  method="GET" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>
        </div>
       <div class="card mb-4">
         <div class="card-header">Categories</div>
           <div class="card-body">
             <div class="row">
               <div class="col-sm-6">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#!">Web Design</a></li>
                    <li><a href="#!">HTML</a></li>
                    <li><a href="#!">Freebies</a></li>
                   </ul>
               </div>
               <div class="col-sm-6">
               <ul class="list-unstyled mb-0">
                <li><a href="#!">JavaScript</a></li>
                <li><a href="#!">CSS</a></li>
                <li><a href="#!">Tutorials</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
</div>

