<div class="cl">

{% extends 'main/base.html' %}

{% block title %}
Article id
{% endblock %}

{% block body %}
    <div class="container card text-center" style="width: 50rem;">
      <div class="text-bg-light mb-3" style="max-width: 100rem;">
        <div class="card-header">Your Article</div>
          <h1>{{article.title }}</h1>
          <p>{{article.body }}</p>
        </div><hr>
        <div class="d-grid gap-2">
         <a href="/all" class="btn btn-primary" type="button">Back</a>
        </div>
      </div>
    </div>

{% endblock %}
</div>
