<div class="cl">

{% extends 'main/base.html' %}

{% block title %}
Create Articles
{% endblock %}

{% block body %}
    <br>
<main class="container card" style="width: 50rem;">
  <div class="card-header">
    New Articles
  </div>

  <br>
     <div>
        <form {% if article %} action="/article/{{ article.id }}/update" {% else %} action="/article" {% endif %} method="POST">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" id="exampleFormControlInput1" {% if article %} value="{{ article.title }}" {% endif %} >
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Body</label>
              <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3">{% if article %} {{ article.body }} {% endif %}</textarea>
            </div>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select><br>
            <div class="text-end">
                <button type="submit" class="btn btn-warning">Save</button>
            </div><br>
        </form>
     </div>
</main>
{% endblock %}
</div>




