<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт на Bootstrap </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <li class="nav-item active">
          <a href="#" class="nav-link">Головна</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Calc +</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Calc - </a>
        </li>
    </nav>

    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h1 class="card-title">Test Test</h1>
      </div>
      <div class="card-footer text-body-secondary">
        Flask tets test
      </div>
    </div>



</body>
</html>
